* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  margin: 0;
  font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* RTL Support */
[dir='rtl'] {
  direction: rtl;
  text-align: right;
}

[dir='ltr'] {
  direction: ltr;
  text-align: left;
}

#root {
  min-height: 100vh;
}
@layer utilities {
  .scrollbar-hide {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
  
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  
  .smooth-scroll {
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
  }
}

.slick-dots {
  bottom: -5px !important;
}
.slick-dots li.slick-active button:before {
  color: white !important;
}

.slick-dots {
  li {
    margin: 0 2px;

    .slick-dot-custom {
      background-color: rgba(255, 255, 255, 0.3);
      width: 20px;
      height: 4px;
      border-radius: 1px;
    }

    &.slick-active {
      .slick-dot-custom {
        background-color: #fff;
      }
    }
  }
}